COMPOSE_PROJECT_NAME=yggdrasil-dev

POSTGRES_IMAGE=postgres:17-alpine
POSTGRES_USER=postgres
POSTGRES_PASSWORD=someAwesomePassword
POSTGRES_DB=yggdrasil
POSTGRES_CORE_DB=yggdrasil_core
POSTGRES_HOST_PORT=5432

RABBITMQ_IMAGE=rabbitmq:3.13-management
RABBITMQ_HOST_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
BROKER_URL=amqp://guest:guest@yggdrasil-rabbitmq:5672/

GO_IMAGE=golang:1.25-bookworm
NODE_IMAGE=node:22-bookworm

CORE_HTTP_PORT=9080
AUTH_SURFACE_PORT=9090
CONSOLE_PORT=3080

POSSIBLE_ORGS=dakasa-yggdrasil,DaKasa-Co
